body {
  font-family: "montserrat", sans-serif;
  background: #171717;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
.custom-nav-urbanmen {
  background-color: rgba(24, 24, 24, 0.657);
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 2;
}
.custom-nav-urbanmen a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 1.5rem;
  display: inline-block;
  padding-bottom: 12px;
  padding-top: 12px;
}
.custom-nav-urbanmen a:hover {
  text-decoration: none;
  color: rgb(202, 202, 202);
  border-bottom: 3px solid rgb(194, 194, 194);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0px 40px;
}
.urbanmen-logo:hover {
  color: white !important;
  border: none !important;
}
.custom-nav-urbanmen li {
  display: inline-block;
  list-style: none;
  padding: 0px 10px;
}
.custom-nav-urbanmen ul {
  width: 100%;
}
.navlinks-container {
  display: inline-block;
}
.navlinks-left-container {
  display: inline-block;
}
.navlinks-left-container a {
  padding: 0 10px;
}
.register-btn {
  transition: 200ms ease-in-out;
  background-color: white;
  color: black !important;
  padding: 8px 10px !important;
  border: 2px solid white;
  margin-right: 10px;
}
.register-btn:hover {
  transition: 200ms ease-in-out;
  background-color: rgb(223, 223, 223);
}
.cart-logo:hover {
  border: none !important;
}
.cart-logo {
  margin-right: 10px;
}
.login-btn {
  transition: 200ms ease-in-out;
  border: 2px solid white !important;

  padding: 8px 10px !important;
}
.login-btn:hover {
  transition: 200ms ease-in-out;
  color: black !important;
  background-color: white;
}
.product-showcase {
  position: relative;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1612817159576-986a0b7a4165?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1225&q=80)
    center / cover;
}
.product-showcase-wallets {
  background: url(https://images.unsplash.com/photo-1611099144078-5596e87ef54c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)
    center / cover;
}
.product-showcase-bracelets {
  background: url(https://images.unsplash.com/photo-1612450362046-91773458b103?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80)
    center / cover;
}
.product-showcase-necklaces {
  background: url(https://images.unsplash.com/photo-1612473078636-e0d74e318ba7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)
    center / cover;
}
.product-showcase-belts {
  background: url(https://images.pexels.com/photos/989938/pexels-photo-989938.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)
    center / cover;
}
.product-showcase-watches {
  background: url(https://images.unsplash.com/photo-1580120173753-41a3c2779e4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1519&q=80)
    center / cover;
}
.nav-submenu {
  width: 100%;
  height: 350px;
  background-color: rgb(34, 34, 34);
  position: absolute;
  z-index: 1;
  top: 60px;
}

.submenu-items-container {
  display: flex;
  flex-direction: row;
}
.nav-submenu p {
  color: white !important;
}
.nav-submenu {
  display: none;
}
.activelink {
  text-decoration: none;
  color: rgb(202, 202, 202) !important;
  border-bottom: 3px solid rgb(194, 194, 194) !important;
}
.top-products {
  width: 70%;
  margin: 0 auto;
}
.top-products-container {
  background-color: rgb(36, 36, 36);
}
.item-products {
  width: 30%;
  display: inline-block;
  margin-bottom: 30px;
}
.products-items-container {
  padding-top: 10px;
  margin: 0 0% 0 10%;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.product-price {
  font-size: 1.5rem;
  color: rgb(255, 196, 0);
  margin-top: 0px;
  display: inline-block;
  width: 32%;
  text-align: right;
  width: 150px;
}
.custom-product-heading {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  margin: 10px 0;
}
.custom-heading-1 {
  margin-top: 0;
  color: white;
  font-size: 3.5rem;
  padding-top: 15px;
  text-align: center;
  padding: 40px 0;
}
.image-fit-products {
  object-fit: cover;
  object-position: center;
  width: 90%;
  height: 200px;
}
.urbanmen-footer {
  height: 100px;

  background: linear-gradient(to right, #171717 0%, #424242 100%);
}
.footer-container {
  display: flex;
  width: 95%;
  justify-content: space-between;
  color: rgb(180, 180, 180);
  margin: 0 auto;
  height: 100%;
  align-items: center;
}
.urbanmen-socials a {
  color: rgb(180, 180, 180);
  margin: 0 10px;
  font-size: 1.3rem;
}
.urbanmen-socials a:hover {
  color: rgb(255, 255, 255);
}
.urbanmen-logo-footer {
  letter-spacing: 2px;
  font-size: 1.3rem;
}
.urbanmen-logo-footer p {
  margin-top: 0;
  margin-bottom: 0;
}
.urbanmen-copyright p {
  margin-top: 50px;
  margin-bottom: 0;
}
.addcartproduct-btn {
  color: rgb(255, 196, 0);
  border: 2px solid rgb(255, 196, 0);
  display: inline-block;
  width: 75%;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
}
.addcartproduct-btn:hover {
  text-decoration: none;
  color: rgb(17, 17, 17);
  background-color: rgb(255, 196, 0);
}
table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  padding: 20px;
}
tr {
  background-color: white;
}
.table-top-row {
  background-color: rgb(70, 187, 255);
}
.table-top-row td {
  color: white;
}
.table-container {
  height: 450px;
  overflow-y: scroll;
}
.registration-content {
  background: url(https://images.unsplash.com/photo-1504593811423-6dd665756598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80)
    top/cover no-repeat;
  height: 95vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.custom-form-input-urbanmen {
  display: block;
  font-size: 20px;
  border-radius: 35px;
  padding: 12px 18px;

  margin: 30px auto;
}
.registration-form {
  width: 300px;
  height: 450px;
  color: white;
  background-color: rgba(22, 35, 58, 0.651);
  padding: 50px 50px;
}
.register-text-left {
  color: white;
}

.registration-heading {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.welcome-registration-txt {
  font-size: 5rem;
  font-weight: 400;
  width: 600px;
  margin: 0 auto;
}
.register-text-left-p {
  font-size: 2rem;
}
.password-conditions {
  text-decoration: underline;
  font-size: 14px;
  margin-bottom: 25px;
  padding-left: 30px;
  position: relative;
  bottom: 20px;
}
.submit-btn-rg {
  display: block;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(64, 194, 255);
  color: white;
  padding: 12px 0px;
  border-radius: 35px;
  position: relative;
  bottom: 20px;
  cursor: pointer;
}
.submit-btn-rg:hover {
  background-color: rgb(56, 179, 236);
}

.login-items-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  background: url(https://images.unsplash.com/photo-1611099024089-7f57ca9aca7f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)
    center/cover no-repeat;
  color: white;
}
.login-form {
  background-color: rgb(98 86 220 / 24%);
  padding: 50px 50px;
}
.login-text-left h1 {
  font-size: 5rem;
  font-weight: 400;
}
.login-heading {
  text-align: center;
  font-weight: 400;
}
.login-text-left-p {
  padding-left: 10px;
  font-size: 1.5rem;
}
.submit-btn-ln {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(202, 84, 38);
  color: white;
  padding: 12px 0px;
  border-radius: 35px;
  position: relative;
  bottom: 20px;
  cursor: pointer;
}
.submit-btn-ln:hover {
  background-color: rgb(180, 73, 30);
}
.adminpanel-container {
  height: 90vh;
  background-color: rgb(37 42 50);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminpanel-items {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.addproduct {
  transition: 300ms ease-in-out;
  display: block;
  background-color: rgb(32, 214, 214);
  color: white;
  padding: 35px 0;
  margin: 80px 0;
  text-decoration: none;
  font-size: 1.3rem;
}
.addproduct:hover {
  transition: 300ms ease-in-out;
  background-color: rgb(0, 187, 187);
}
.adminpanel-items h1 {
  font-size: 3.5rem;
  font-weight: 400;
}
.inventory-container {
  height: 90vh;
  background: url(https://images.unsplash.com/photo-1618022325802-7e5e732d97a1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=686&q=80)
    center/ cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inventory-container h1 {
  color: white;
  margin-bottom: 50px;
}
.product-form-input {
  border: 1px solid rgb(0, 0, 0);
  display: inline-block;
  width: 45%;
  padding: 10px 15px;
}
.product-form-label {
  width: 50%;
  display: inline-block;
  font-size: 1.3rem;
}
.addproducts-container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 90vh;
  background: url(https://images.unsplash.com/photo-1613710774862-d813121e6d44?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80)
    center/cover no-repeat;
  color: white;
}
.addproducts-sub-container {
  width: 800px;
  background-color: rgba(73, 73, 73, 0.562);
  padding: 50px 50px;
  margin-left: 10%;
}
.form-item-addproduct {
  margin: 20px 0;
}
.addpruduct-btn {
  background-color: rgb(218, 73, 73);
  color: white;
  padding: 15px 150px;
  border-radius: 35px;
  margin-top: 20px;
  margin-left: 50.5%;
  cursor: pointer;
}
.addpruduct-btn:hover {
  background-color: rgb(194, 62, 62);
}
.product-form-input-select {
  width: 49%;
}
.cart-item-container {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}
.cart-main-container {
  width: 70%;
  margin: 0 auto;
  color: white;
  padding: 100px 0;
}

.cart-outer {
  /* height: 90vh; */
  background: url(https://images.unsplash.com/photo-1598812866501-87ad598839e7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80)
    center/cover no-repeat;
  background-color: rgb(65, 65, 65);
}
.product-text {
  width: 800px;
}
.product-text p {
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 1.4rem;
}
.cart-hr {
  border-color: white;
}
.cart-bill {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid white;
  padding-top: 20px;
}
.cart-bill p {
  font-size: 1.8rem;
}
.checkout-btn {
  color: rgb(255, 196, 0);
  border: 2px solid rgb(255, 196, 0);
  background-color: rgb(17, 17, 17);
  text-decoration: none;
  padding: 25px 70px;
  display: inline-block;
  margin-top: 20px;
}
.checkout-btn:hover {
  background-color: rgb(37, 37, 37);
}

.cleart-cart {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(173, 24, 24);
  text-decoration: none;
  padding: 25px 70px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 63%;
}
.cleart-cart:hover {
  background-color: rgb(99, 23, 23);
}
.errordiv {
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1573068111653-f18bef611c8a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1267&q=80)
    center / cover;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}
.errordiv h1 {
  color: white;
  font-size: 7rem;
  width: 900px;
  margin-top: 20%;
  margin-left: 30px;
}
.errordiv a {
  color: aqua;
  text-decoration: none;
}
.dl-btn {
  text-decoration: none;
  color: white;
  background: rgb(204, 64, 40);
  padding: 8px 20px;
  margin: 10px;
  display: inline-block;
}
.dl-btn2 {
  text-decoration: none;
  color: white;
  background: rgb(14, 160, 62);
  padding: 8px 20px;
  margin: 10px;
  display: inline-block;
}
.p-address {
  display: block;
  width: 95%;
  margin-bottom: 20px;
  padding: 12px;
  font-size: 16px;
}
